@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Av. Pungarabato Pte. S/N<br />
    Ciudad Altamirano Gro; CP 40660<br />
    <abbr title="Phone">P:</abbr>
    +52 (767)110 68 45
</address>

<address>
    <strong>Soporte:</strong> <a href="eveliamaldonado288@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="eveliamaldonado288@gmai.com">Marketing@example.com</a>
</address>
